/* PALETA DE CORES

#00B8A9
#00857a
#F8F3D4
#FFDE7D
#F6416C
 */
 @import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Edu+SA+Beginner:wght@500&family=Edu+VIC+WA+NT+Beginner:wght@800&family=Fredericka+the+Great&display=swap');

body {
  background-color: #212529;
  font-family: 'Cinzel', serif;
}

#divisao {
  display: grid;
  grid-template: 100vh / 30vw 70vw;
}

/* CONTAINER DA ESQUERDA INTEIRO */
#lateral {
  position: relative;
  width: 100%;
  height: 100vh;
}

/* TEXTO DA LATERAL ESQUERDA */
#textoalin {
position: absolute;
left: 50%;
top: 5%;
transform: translateX(-50%);
}
#textoapresentacao {
  color: #f8f9fa;
  font-size: 3vh;
  text-align: center;
  padding: 2vh;
}
b {
  color: #FFDE7D;
}
.verde {
  color: #00B8A9;
}

/* CHAT */
.chat {
  grid-row: 1/2;
  grid-column: 2/3;
  display: grid;
  grid-template: 10vh 1fr / 1fr 1fr;
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #00B8A9;
}
#barra {
  grid-row: 1/2;
  grid-column: 1/3;
  position: relative;
  width: 100%;
  height: 10vh;
  background-color: #F6416C;
  z-index: 0;
}
#sombra {
  grid-row: 1/3;
  grid-column: 2/3;
  background-color: rgba(0, 0, 0, 0.1);
  height: 100vh;
  width: 100%;
  z-index: 1;

}
.foto {
  width: 8vh;
  height: 8vh;
}
#branco {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 1vh;
}
#samuel {
  grid-row: 1/2;
  grid-column: 2/3;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  margin-left: 1vh;
}
.titulo {
  color: #F8F3D4;
}
.titulo::first-letter{
  text-transform: uppercase;
}
#nomeDaPessoa {
position: absolute;
font-size: 3vh;
z-index: 0;
top: 3%;
left: 25%;
transform: translate(-50%, -25%);
}
#samuelcavalcanti {
  font-size: 3vh;
  z-index: 2;
  position: absolute;
  top: 3%;
  left: 75%;
  transform: translate(-40%, -25%);
}

#online1{
  font-size: 2vh;
  position: absolute;
  top: 6%;
  left: 25%;
  transform: translateX(-50%);

}
#online2{
  font-size: 2vh;
  position: absolute;
  top: 6%;
  left: 75%;
  transform: translateX(-40%);
  z-index: 2;
}

.online {
color: #FFDE7D;
}

.gridtexto{
  margin-top: 5%;
  display: grid;
  grid-template: repeat(6, max-content)/ 1fr 1fr;
  width: 200%;
  height: 95%;
  row-gap: 3vh;

}

#balao1 {
  grid-row: 1/2;
  grid-column: 1/2;
}
.chat1 {
  justify-self: start;
  font-family: Arial, Helvetica, sans-serif, Arial, sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  height: fit-content;
  width: 80%;
  margin-left: 5%;
  background-color: #FFDE7D;
  border-radius: .5vh;
  padding: 1vh;
  text-align: justify;
}
#balao2 {
  grid-row: 2/3;
  grid-column: 2/3;
  }
.chat2 {
  justify-self: end;
  font-family: Arial, Helvetica, sans-serif, Arial, sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  height: fit-content;
  width: 80%;
  margin-right: 5%;
  background-color: #F8F3D4;
  border-radius: .5vh;
  padding: 1vh;
  text-align:right;
  z-index: 2;
}
#balao3 {
  grid-row: 3/4;
  grid-column: 1/2;
  }
#balao4 {
  grid-row: 4/5;
  grid-column: 2/3;
  }
#balao5 {
  grid-row: 5/6;
  grid-column: 1/2;
  }
#balao6 {
  grid-row: 6/7;
  grid-column: 2/3;
  }
#variavel {
  font-weight: 600;
  color: #000000;
}
#gridchat {
  margin-top: 2vh;
  display: grid;
  grid-template: 5vh / 12vw 3vw;
}
#caixa {
  font-size: 4vh;
  padding: .5vh;
  height: 100%;
  width: 100%;
}
#botao{
  background-color: #00B8A9;
  border-color: #00B8A9;
  width: 3vw;
  height: 5vh;
  z-index: 0;
  border-radius: 0px 10px 10px 0px;
}
.seta {
  width: 2vw;
  height: 4vh;
}
.seta:active {
  padding-left: 2px;
  padding-top: 2px;
}
.escondido{
  display: none;
}