/* PALETA DE CORES

#00B8A9
#00857a
#F8F3D4
#FFDE7D
#F6416C
 */
 @import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Edu+SA+Beginner:wght@500&family=Edu+VIC+WA+NT+Beginner:wght@800&family=Fredericka+the+Great&display=swap');

body {
  background-color: #212529;
  font-family: 'Cinzel', serif;
}

#divisao {
  display: grid;
  grid-template: 100vh / 30vw 70vw;
}

/* CONTAINER DA ESQUERDA INTEIRO */
#lateral {
  position: relative;
  width: 100%;
  height: 100vh;
}

/* TEXTO DA LATERAL ESQUERDA */
#textoalin {
position: absolute;
left: 50%;
top: 5%;
transform: translateX(-50%);
}
#textoapresentacao {
  color: #f8f9fa;
  font-size: 3vh;
  text-align: center;
  padding: 2vh;
}
b {
  color: #FFDE7D;
}
.verde {
  color: #00B8A9;
}
#seta {
  position: absolute;
  height: 17vh;
  padding-top: 3vh;
  left: 50%;
  transform: translateX(-50%);
}

/* CHAT */
#chat {
  display: grid;
  grid-template: 10vh 1fr / 1fr 1fr;
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #00B8A9;
}
#barra {
  grid-row: 1/2;
  grid-column: 1/3;
  position: relative;
  width: 100%;
  height: 10vh;
  background-color: #F6416C;
  z-index: 0;
}
#sombra {
  grid-row: 1/3;
  grid-column: 2/3;
  background-color: rgba(0, 0, 0, 0.25);
  height: 100vh;
  width: 100%;
  z-index: 1;

}
.foto {
  width: 8vh;
  height: 8vh;
}
#branco {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 1vh;
}
#samuel {
  grid-row: 1/2;
  grid-column: 2/3;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  margin-left: 1vh;
}
.titulo {
  color: #F8F3D4;
}
.titulo::first-letter{
  text-transform: uppercase;
}
#nomeDaPessoa {
font-size: 3vh;
grid-row: 1/2;
grid-column: 1/2;
z-index: 0;
position: absolute;
top: 50%;
left: 30%;
transform: translateY(-50%);
}
#samuelcavalcanti {
  font-size: 3vh;
  grid-row: 1/2;
  grid-column: 2/2;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translateY(-50%);
}

.gridtexto{
  display: grid;
  grid-template: repeat(4, 1fr)/ 1fr 1fr;
  width: 200%;
  height: 100%;
  background-color: #00b812;

}

#balao1 {
}
.chat1 {
  grid-row: 2/3;
  grid-column: 1/2;
  font-family: Arial, Helvetica, sans-serif, Arial, sans-serif;
  font-weight: 600;
  font-size: 1.7rem;
  height: fit-content;
  width: 40%;
  margin-left: 5%;
  background-color: #FFDE7D;
  border-radius: .5vh;
  padding: 1vh;
  text-align: justify;
}
#balao2 {
  
  }
.chat2 {
  justify-self: end;
  font-family: Arial, Helvetica, sans-serif, Arial, sans-serif;
  font-weight: 600;
  font-size: 1.7rem;
  height: fit-content;
  width: 40%;
  margin-right: 5%;
  background-color: #F8F3D4;
  border-radius: .5vh;
  padding: 1vh;
  text-align:right;
  z-index: 2;
}